<a href="https://colab.research.google.com/github/felippedamasopy/removing-repeated-values/blob/main/removing_repeated_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("aluguel.csv", sep=';')
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot창nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien처polis,1,0,0,48,800.0,230.0,NaN

In [9]:
typs_properties = df['Tipo']
typs_properties

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [13]:
typs_properties.drop_duplicates(inplace =True)
typs_properties

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condom챠nio
16                    Pr챕dio Inteiro
17                              Flat
29                        Loja/Sal찾o
80           Galp찾o/Dep처sito/Armaz챕m
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padr찾o
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Ch찼cara
3354           Loteamento/Condom챠nio
4379                           S챠tio
4721                   Pousada/Chal챕
6983                          Studio
9687                           Hotel
23614                      Ind첬stria
Name: Tipo, dtype: object

In [17]:
typs_properties = pd.DataFrame(typs_properties)
typs_properties

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condom챠nio
16                  Pr챕dio Inteiro
17                            Flat
29                      Loja/Sal찾o
80         Galp찾o/Dep처sito/Armaz챕m
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padr찾o
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Ch찼cara
3354         Loteamento/Condom챠nio
4379                         S챠tio
4721                 Pousada/Chal챕
6983                        Studio
9687                         Hotel
23614                    Ind첬stria

In [19]:
typs_properties.shape

(22, 1)

In [22]:
typs_properties.index = range(typs_properties.shape[0])
typs_properties

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condom챠nio
5                Pr챕dio Inteiro
6                          Flat
7                    Loja/Sal찾o
8       Galp찾o/Dep처sito/Armaz챕m
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padr찾o
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Ch찼cara
16        Loteamento/Condom챠nio
17                        S챠tio
18                Pousada/Chal챕
19                       Studio
20                        Hotel
21                    Ind첬stria

In [24]:
typs_properties.columns.name ="id"
typs_properties

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condom챠nio
5                Pr챕dio Inteiro
6                          Flat
7                    Loja/Sal찾o
8       Galp찾o/Dep처sito/Armaz챕m
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padr찾o
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Ch찼cara
16        Loteamento/Condom챠nio
17                        S챠tio
18                Pousada/Chal챕
19                       Studio
20                        Hotel
21                    Ind첬stria